

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mi nombre es Gerardo Jerez Castro</h1>
    <h4>Soy un desarrollador wannabe que se las da de muy fregon nomas porque se lo basico de muchas tecnologias, lo que no saben es que no soy bueno en ninguna.</h4>


    <img src="~/imgs/personajeleden.png" alt="Foto del elden ring" id="foto" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imgs/logo.png" alt="dotnet logo"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Welcome to the internet</h1>
        <p>
            Takimata et feugiat accusam labore dolore sit dolor et rebum dolores esse elitr no sanctus lorem amet at nonumy dolor stet consetetur consequat dolor accusam 
            volutpat dolore velit liber luptatum accusam dolore sadipscing dolor ut sed duo takimata consetetur amet erat duis dolores ea duo erat erat labore sanctus sanctus
        </p>
    </div>
</div>